{% extends '::base.html.twig' %}
{% block body %}
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Dunaj</th>
            <th>123</th>
            <th>Cisa</th>
            <th>456</th>
            <th>Marusza</th>
            <th>789</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.depth }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
